{{!-- {{#if post.access}}
<div class="comment container small">
   <script defer src="https://commento.bumpydetour.com/js/commento.js" data-no-fonts="true" data-css-override="{{asset "built/commento.css"}}"></script>
   <div id="commento"></div>
</div>
{{/if}} --}}